<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Grid</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> Components </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">Grid</li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row justify-content-center">
    <div class=" col-lg-8 card-wrapper">
      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">Grid system</h3></div>

        <div class=" card-body">
          <div class=" row row-example">
            <div class=" col-sm"><span> One of three columns </span></div>

            <div class=" col-sm"><span> One of three columns </span></div>

            <div class=" col-sm"><span> One of three columns </span></div>
          </div>
        </div>
      </div>

      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">Equal-width</h3></div>

        <div class=" card-body">
          <div class=" row row-example">
            <div class=" col"><span> 1 of 2 </span></div>

            <div class=" col"><span> 2 of 2 </span></div>
          </div>

          <div class=" row row-example">
            <div class=" col"><span> 1 of 3 </span></div>

            <div class=" col"><span> 2 of 3 </span></div>

            <div class=" col"><span> 3 of 3 </span></div>
          </div>
        </div>
      </div>

      <div class=" card">
        <div class=" card-header">
          <h3 class=" mb-0">Setting one column width</h3>
        </div>

        <div class=" card-body">
          <div class=" row row-example">
            <div class=" col"><span> 1 of 3 </span></div>

            <div class=" col-6"><span> 2 of 3 (wider) </span></div>

            <div class=" col"><span> 3 of 3 </span></div>
          </div>

          <div class=" row row-example">
            <div class=" col"><span> 1 of 3 </span></div>

            <div class=" col-5"><span> 2 of 3 (wider) </span></div>

            <div class=" col"><span> 3 of 3 </span></div>
          </div>
        </div>
      </div>

      <div class=" card">
        <div class=" card-header">
          <h3 class=" mb-0">Variable width content</h3>
        </div>

        <div class=" card-body">
          <div class=" row row-example justify-content-md-center">
            <div class=" col col-lg-2"><span> 1 of 3 </span></div>

            <div class=" col-md-auto">
              <span> Variable width content </span>
            </div>

            <div class=" col col-lg-2"><span> 3 of 3 </span></div>
          </div>

          <div class=" row row-example">
            <div class=" col"><span> 1 of 3 </span></div>

            <div class=" col-md-auto">
              <span> Variable width content </span>
            </div>

            <div class=" col col-lg-2"><span> 3 of 3 </span></div>
          </div>
        </div>
      </div>

      <div class=" card">
        <div class=" card-header">
          <h3 class=" mb-0">Equal-width multi-row</h3>
        </div>

        <div class=" card-body">
          <div class=" row row-example">
            <div class=" col"><span> col </span></div>

            <div class=" col"><span> col </span></div>

            <div class=" w-100"></div>

            <div class=" col"><span> col </span></div>

            <div class=" col"><span> col </span></div>
          </div>
        </div>
      </div>

      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">Mix and match</h3></div>

        <div class=" card-body">
          <div class=" row row-example">
            <div class=" col-12 col-md-8"><span> .col-12 .col-md-8 </span></div>

            <div class=" col-6 col-md-4"><span> .col-6 .col-md-4 </span></div>
          </div>

          <div class=" row row-example">
            <div class=" col-6 col-md-4"><span> .col-6 .col-md-4 </span></div>

            <div class=" col-6 col-md-4"><span> .col-6 .col-md-4 </span></div>

            <div class=" col-6 col-md-4"><span> .col-6 .col-md-4 </span></div>
          </div>

          <div class=" row row-example">
            <div class=" col-6"><span> .col-6 </span></div>

            <div class=" col-6"><span> .col-6 </span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
